body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    padding: 10px;
    width: 700px;
    max-width: 80%;
    background-color: white;
    
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.start-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}

.next-btn {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
}
.btn-grid {
    display: grid;
    padding: 8px;
    gap: 5px;
    margin: 15px;
}

.btn {
    background-color: skyblue;
    font-weight: bold;
    border: 1px solid darkblue;
}




